header {
	width: 100%;
	padding: 1.75rem 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #dddddd;

	z-index: 1000;
}
nav {
	width: 90%;
	margin: auto;
}
ul {
	display: flex;
	gap: 3rem;
	list-style: none;
	align-items: center;
}
.home_a {
	font-size: 2.5rem;
}
.home_a > a > span {
	color: #622f22;
	font-weight: 700;
}
.login_li {
	margin-left: auto;
}
ul > li > a {
	text-decoration: none;
	color: black;
}
ul > li > a:hover {
	font-weight: bold;
	color: var(--secondary-color);
}
.when-isLoggedIn {
	margin-left: 10rem;
}
.logout_btn {
	margin-left: auto;
	padding: 1rem 2rem;
	background: white;
	border-radius: 1rem;
	font-weight: 900;
	border: none;
	cursor: pointer;
}
.logout_btn:hover {
	background: rgb(34, 34, 34);
	color: white;

	border-radius: 1rem;
	font-weight: 900;
}
