.container_login {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

.login_main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 1rem 3rem;
	border-radius: 2rem;
	width: fit-content;
	background: var(--background-color-light);
	/* background-color: #666; */
	gap: 0.25rem;
}
.login_main > h1 {
	margin: 2rem 0 3rem 0;
	font-weight: 900;
	font-family: "Poppins", sans-serif;
}
.input_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 600px;
}
.input_wrapper > input {
	width: 300px;
}
/* .input_wrapper:last-child {
	margin-bottom: 2rem;
} */
input {
	height: 1.25rem;
	width: 4rem;
}
input:focus {
	outline: 4px solid rgb(0, 0, 0);
}
label {
	font-size: 0.75rem;
	width: 8rem;
	cursor: pointer;
}
label:hover {
	color: black;
	transform: scale(1.125);
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.submit {
	margin: 2rem 0 2rem 0;
	border-radius: 2rem;
	padding: 0.5rem 2rem;
	font-size: 0.75rem;
	cursor: pointer;
	background-color: rgb(0, 149, 0);
	color: white;
	transition: all 0.5s;
	font-weight: 700;
}
.submit.disabled:hover {
	background-color: rgb(58, 58, 58);
	color: white;
	pointer-events: none;
}
.submit:hover {
	background-color: white;
	color: rgb(0, 80, 0);
	font-weight: 700;
}
.submit.disabled {
	pointer-events: none;
	cursor: not-allowed;
	background-color: rgb(58, 58, 58);
}
.input_error {
	color: red;
	font-size: 0.75rem;
	font-weight: 600;
}
.icon_input {
	position: absolute;
	right: 32%;
	height: 2rem;
	opacity: 0;
	animation: animateIcons 0.3s ease-in 0.1s forwards;
}
.link_register {
	color: var(--secondary-color);
	text-decoration: underline;
	cursor: pointer;
}
.link_register:hover {
	color: #333;
}
@keyframes animateIcons {
	0% {
		opacity: 0;
		transform: translateY(10px) translateX(7.5rem);
	}
	100% {
		opacity: 1;

		transform: translateY(0px) translateX(7.5rem);
	}
}
