.book-data {
	display: flex;
	gap: 2rem;
	margin: 4rem 0;
	clip-path: inset(0 100% 0 0);
	transform: translateX(-200px);
	opacity: 0.2;
}
.book-data.book-loaded{
	clip-path: inset(0 0 0 0);
	transform: translateX(0px);
	transition: all .5s ease-in-out;
	opacity: 1;
}
.container-book {
	width: 1200px;
	height: fit-content;
	margin: 0 auto;
	background-color: rgb(235, 235, 235);
	padding: 2rem;
}
h1 {
	margin-bottom: 2.25rem;
	background-color: white;
	padding: 1rem;
	width: fit-content;
}
.book-image {
	height: 60%;
	border: 20px solid white;
}
.div-right {
	/* margin: -200px 0 0 0; */
	/* max-height: 1000px; */
	width: 50%;
}
.div-left{
	width: 50%;
}
.description-block {
	background-color: white;
	padding: 1rem;
	color: #333;
}
