.book-data {
	display: flex;
	gap: 2rem;
	margin: 4rem 0;
}
.container-book {
	width: 1200px;
	height: fit-content;
	margin: 0 auto;
	background-color: rgb(235, 235, 235);
	padding: 2rem;
}
h1 {
	margin-bottom: 2.25rem;
	background-color: white;
	padding: 1rem;
	width: fit-content;
}
.book-image {
	height: 60%;
	outline: 20px solid white;
}
.div-right {
	/* margin: -200px 0 0 0; */
	/* max-height: 1000px; */
}
.description-block {
	background-color: white;
	padding: 1rem;
	color: #333;
}
